{{ form_start(form) }}
<div id="etudiant">
    {{ form_row(form.Etudiant) }}
</div>

<div id="convention">
    {{ form_row(form.conventionName) }}
</div>

<div id="message">
    {{ form_row(form.message) }}
</div>

<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
<script>
    $(document).ready(function() {
        $('#etudiant').change(function() {
            var selectedValue = $('#form_Etudiant').val();
            var data1;
            $.ajax({  
               url:        '/api/etudiant/'+selectedValue,  
               type:       'GET',   
               dataType:   'json',
               async:      false,  
               
               success: function(data, status) {  
                    data1 = data;
               }
            })
            
            $.ajax({
                url: '/api/convention/' + selectedValue,
                type: 'GET',
                dataType: 'json',
                async: false,
                success: function(data2, status) {
                
                    $('#form_conventionName').val(data2.nom);
                    
                    if (data1.attestation === null)
                        $('#form_message').val('Bonjour ' + data1.nom + ' ' + data1.prenom + '\n\n\nVous avez suivi '+ data2.nbHeur+' de formation chez FormationPlus.\n\nPouvez-vous nous retourner ce mail avec la pièce jointe signée.\n\n\nCordialement,\n\nFormationPlus' );
                    else {
                        console.log(data1.attestation.message);
                        $('#form_message').val(data1.attestation.message);
                    }
                }
            })
         });   
});
</script>

<button class="btn">
    {{ button_label|default('Save') }}
</button>
{{ form_end(form) }}
